# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BaiduNetdiskDownload\0905_class21_api_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
